<div class="container">
    <button class="btn btn-light"><a href="/material/create">Agregar material</a></button>

    <table class="table">
        <thead>
            <tr>
                <td>id</td>
                <td>Nombre de Material</td>
                <td>Numero de Puntos</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ap of listaMaterial">
                <td>{{ ap.id }}</td>
                <td>{{ ap.nombreMaterial }}</td>
                <td>{{ ap.numeroPuntos }}</td> 
                <td>
                    <button type="button" class="btn btn-outline-danger " (click)="eliminarMaterial(ap.id)">Eliminar</button>           
                </td>
                <td>
                    <button type="button" class="btn btn-outline-primary" (click)="editarMaterial(ap.id)">Editar</button>           
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="noEliminar">
        <h5>El material selecccionado no se puede eliminar</h5>
    </div>
</div>



            