<div class="container">
    <form [formGroup]="aprendizForm" (ngSubmit)="editarAprendiz()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input formControlName="email" type="email" class="form-control" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Nombre</label>
          <input formControlName="nombre" type="text" class="form-control" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Apellido</label>
          <input formControlName="apellido" type="text" class="form-control" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Numero de documento</label>
          <input formControlName="numeroDocumento" type="number" class="form-control" >
        </div>
        <div class="mb-3">
          <label for="tipoDocumento" class="form-label">Tipo de documento</label>
          <select formControlName="tipoDocumento" class="form-control" id="tipoDocumento">
            <option value="C.C">C.C</option>
            <option value="T.I">T.I</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="ficha" class="form-label">Ficha</label>
          <select formControlName="ficha" class="form-control" id="tipoDocumento">
            <option *ngFor="let ficha of listaFichas" [value]="ficha.id">{{ ficha.codigoFicha }}</option>
          </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Editar Aprendiz</button>
    </form>
</div>
    