<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Numero de documento</th>
        <th>Tipo de documento</th>
        <th>email</th>
        <th>Numero de ficha</th>
        <th>Acciones</th>
      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let ap of listaAprendices">
        <td>{{ ap.id }}</td>
        <td>{{ ap.nombre }}</td>
        <td>{{ ap.apellido }}</td>
        <td>{{ ap.numeroDocumento }}</td>
        <td>{{ ap.tipoDocumento }}</td>
        <td>{{ ap.correo }}</td>
        <td>{{ ap.numeroFicha }}</td>
        <td>
            <button type="button" class="btn btn-outline-danger " (click)="eliminarAprendiz(ap.id)">Eliminar</button>
        </td>

    </tr>
    </tbody>

  </table>


</div>
