
<div class="container">
    <form [formGroup]="materialForm" (ngSubmit)="agregarMaterial()">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre del Material</label>
            <input formControlName="nombreMaterial" type="text" class="form-control" aria-describedby="emailHelp">
          </div> 
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Numero de Puntos</label>
                <input formControlName="numeroPuntos" type="number" class="form-control" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="ficha" class="form-label">Clasificacion</label>
                <select formControlName="clasificacion" class="form-control">
                  <option *ngFor="let clasificacion of listarClasificacion" [value]="clasificacion.id">{{ clasificacion.nombreClasificacion }}</option>
                </select>
              </div>
              <button *ngIf="!id" type="submit" class="btn btn-primary">Crear Material</button>
              <button *ngIf="id" type="submit" class="btn btn-primary">Editar Material</button>

    </form>

</div>
