<div class="container">
    <button class="btn btn-light"><a href="/tip/create">Agregar Tip</a></button>

    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Nombre del tip</th>
                <th>Descripcion Tip</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ap of listaTip">
                <td>{{ap.id}} </td>
                <td>{{ap.nombre_tips}}</td>
                <td>{{ap.descripcion}}</td>
                <td>
                    <button type="button" class="btn btn-outline-primary" (click)="editarTip(ap.id)">Editar</button> 
                </td>
                <td>
                    <button type="button" class="btn btn-outline-danger "  (click)="eliminarTip(ap.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>