
<div class="container">
    <button class="btn btn-light"><a href="/bono/create">Agregar bono</a></button>

    <table class="table">
        <thead>
            <tr>
                <td>ID</td>
                <td>Valor del Bono</td>
                <td>Puntos requridos</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ap of listaBonos">
                <td>{{ ap.id }}</td>
                <td>{{ ap.valorBono }}</td>
                <td>{{ ap.puntosRequeridos }}</td>
                <td>
                    <button type="button" (click)="eliminarBono(ap.id)">Eliminar</button>           
                </td>
                <td>
                    <button type="button" (click)="editarBono(ap.id)">Editar</button>           
                </td>
            </tr>
        </tbody>
    </table>


    <div *ngIf="noEliminar">
        <h5>El bono selecccionado no se puede eliminar</h5>
    </div>
</div>