
<div class="container">
    <button class="btn btn-light"><a href="/bono/create">Agregar bono</a></button>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Valor del Bono</th>
                <th>Puntos requridos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ap of listaBonos">
                <td>{{ ap.id }}</td>
                <td>{{ ap.valorBono }}</td>
                <td>{{ ap.puntosRequeridos }}</td>
                <td>
                    <button type="button" class="btn btn-outline-primary" (click)="editarBono(ap.id)">Editar</button>           
                </td>
                <td>
                    <button type="button" class="btn btn-outline-danger " (click)="eliminarBono(ap.id)">Eliminar</button>           
                </td>
                
            </tr>
        </tbody>
    </table>


    <div *ngIf="noEliminar">
        <h5>El bono selecccionado no se puede eliminar</h5>
    </div>
</div>